
.container{
    display: grid;
    max-width: 1000px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px 100px 200px 300px 300px;

    grid-template-areas: 
   "logo . . header header"
   ". main . . ."
   ". . . . ."
   
   ". . . main main"

   "footer footer footer footer"



}
 
 /* base styles */




 nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  nav a {
    display: inline-block
    margin-bottom: 10px;
    padding: 15px 0;
    text-align: left
    text-decoration: none;
    font-weight: bold;
    color: white;
   
  }
  
  nav a:hover,
  nav a:visited {
  color: white;
  }
  
  ol,ul {
	list-style: none;
}


  
 *{
     box-sizing: border-box;
 }
 body {
    padding: 0;
    margin: 0;
    background-image:url('images/background.png');
    background-size:100%;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    color: white;
    font-family: PT Sans;
    font-size: 20px;
    line-height: 34px; 
  }






 /* Media Queries */

 media only screen and (min-width: 480px) {

    nav a {
      float: left;
      width: 30%;
      margin: 0 0 0 5%;
      padding: 25px 1%;
      margin-bottom: 0;
    }
  
    nav li:first-child a {
      margin-left: 0;
    }
  
    nav li:last-child a {
      margin-right: 0;
    }
  
  }
  
  @media only screen and (min-width: 768px),
         only screen and (min-width: 700px) and (orientation: landscape) {
  
    .title {
      /* float: right; */
      font-size: 72px;
    }
  
    nav {
      float: right;
      width: 60%;
    }
  
    nav a {
      padding: 15px 1%;
    }
  
    .titke {
      float: left;
      width: 57%;
    }
  
    
  }
  
  @media only screen and (min-width: 1000px) {
  
    .container {
      width: 1026px;
      margin: 0 auto;
    }
  
    .title {
      font-size: 2em;
    }
  
    nav a {
      padding: 25px 1%;
    }
 

  

